<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TEYVATDLE</title>
    <link rel="stylesheet" href="{{url_for('static', filename='/css/output.css')}}">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            backgroundImage: {
              'background': "url('../static/images/background.jpg')",
            }
          },
        },
      }
    </script>
  </head>
  <body class="flex flex-row justify-center h-screen m-0 bg-black">
    <div class="w-full absolute -z-999 relative bg-no-repeat bg-background bg-cover h-screen overflow-hidden filter brightness-75 from-current to-black">
      <div class="absolute inset-0 bg-gradient-to-b from-black/0 to-black/100 pointer-events-none"></div>
    </div>
    <div class="flex absolute z-1 flex-col h-[500px] pt-[50px] top-[50px] overflow-y-visible">
      <a class="flex justify-center hover:scale-button" href="/">
        <img src="{{url_for('static', filename='/images/site_logo.png')}}" class="aspect-[475/157]">
      </a>
      {% block gamemode %}{% endblock %}
    </div>
  </body>
</html>