{% extends "base.html" %}
{% block gamemode %}
<script src="{{ url_for('static',filename='/scripts/auto-complete.js') }}"></script>
<script src="{{ url_for('static',filename='/scripts/classic-mode.js') }}"></script>
<div class="flex flex-col justify-center items-center gap-y-[10px]">
    <div class="flex justify-center items-center mt-[20px] h-[100px] w-[250px] rounded-lg" 
         style="background-color: rgba(39, 52, 63, 0.8); border: 3px solid rgb(120, 120, 120); box-sizing: border-box;">
        <span class="text-white p-[35px] text-center font-bold">
            Guess Today's Genshin Impact Character!
        </span>
    </div>
    <span id="show_character_data"></span>
    
    <form autocomplete="off" class="flex w-[400px] relative inline-block"id="guess-form"> 
        <div class="autocomplete w-[300px]">
            <input id="guess" class="w-[300px] p-[10px]" type="text" name="guess-character" placeholder="Character">
        </div>
        <input id="submit" class="bg-gray-600 h-[24px] ml-[10px]"type="submit">
    </form>
    <div id="hints_container" class="flex text-white font-bold flex-row gap-x-[12px]">
        <div class="flex w-[75px] h-[75px] items-center justify-center border-b-4" id="guess_name">
            Character
        </div>
        <div class="flex w-[75px] h-[75px] items-center justify-center border-b-4" id="guess_gender">
            Gender
        </div>
        <div class="flex w-[75px] h-[75px] items-center justify-center border-b-4" id="guess_vision">
            Vision
        </div>
        <div class="flex w-[75px] h-[75px] items-center justify-center border-b-4" id="guess_weapon">
            Weapon
        </div>
        <div class="flex w-[75px] h-[75px] items-center justify-center border-b-4" id="guess_nation">
            Region
        </div>
        <div class="flex w-[75px] h-[75px] items-center justify-center border-b-4" id="guess_release">
            Release
        </div>
    </div>
    <div id="results">
        
    </div>
    <div id="congrats_message" class="hidden"></div>
</div>

{% endblock %}
