{% extends "base.html" %}
{% block gamemode %}
<script type="module" src="{{ url_for('static',filename='/scripts/classic-mode.js') }}"></script>
<script type="module" src="{{ url_for('static',filename='/scripts/timer.js') }}"></script>
<div class="flex flex-col justify-center items-center gap-y-[10px]">
    <div class="flex justify-center items-center mt-[15px] h-[100px] w-[250px] rounded-lg" 
         style="background-color: rgba(39, 52, 63, 0.8); border: 3px solid rgb(120, 120, 120); box-sizing: border-box;">
        <span class="text-white p-[35px] text-center font-bold">
            Guess Today's Genshin Impact Character!
        </span>
    </div>
    <span id="show_character_data"></span>
    
    <form autocomplete="off" class="flex w-[300px] items-center relative inline-block"id="guess-form">
        <div class="autocomplete w-[300px]">
            <input id="guess" style="background-image: url(&quot;/static/images/input.png&quot;); background-size: 300px 58px;" class="bg-transparent bg-no-repeat outline-none text-white w-[300px] pl-[25px] p-[18px]" type="text" name="guess-character" placeholder="Character">
        </div>
        <input id="submit" value='' style="background-image: url(&quot;/static/images/buttons/submit_button.png&quot;); background-size: 40px 40px;" class="absolute hover:brightness-110 right-[10px] bg-no-repeat bg-center bg-transparent aspect-[1] h-[40px] ml-[10px] cursor-pointer" type="submit">
    </form>
    <div id="hints_container" class="flex text-white font-bold flex-row gap-x-[12px]">
        <div class="flex w-[75px] h-[75px] items-center justify-center border-b-4" id="guess_name">
            Character
        </div>
        <div class="flex w-[75px] h-[75px] items-center justify-center border-b-4" id="guess_gender">
            Gender
        </div>
        <div class="flex w-[75px] h-[75px] items-center justify-center border-b-4" id="guess_vision">
            Vision
        </div>
        <div class="flex w-[75px] h-[75px] items-center justify-center border-b-4" id="guess_weapon">
            Weapon
        </div>
        <div class="flex w-[75px] h-[75px] items-center justify-center border-b-4" id="guess_nation">
            Region
        </div>
        <div class="flex w-[75px] h-[75px] items-center justify-center border-b-4" id="guess_release">
            Release
        </div>
    </div>
    <div id="results">
        
    </div>
    <div id="congrats_message" class="hidden flex flex-col items-center text-white bg-green-800 border-4 border-green-600 p-6 mt-4 rounded-lg">
        <div class="font-bold text-3xl text-center">Congrats!</div>
        <div id="tried-text" class="mb-[10px] text-lg text-center">You guessed it in 1 try!</div>
        <div class="streak cursor-pointer hover:scale-button flex pt-[25px] justify-center h-[60px] w-[60px] bg-center bg-cover bg-no-repeat" style="background-image: url(&quot;/static/images/streakIcon-WHITE.webp&quot;); background-size: 60px 60px;">
            <span id="streak-label" class="gamemode-label"></span>
            <span id="streak" class="text-[22px] text-green-800 font-bold"></span>
        </div>
        <span class="pt-[10px]">Next character in:</span>
        <div class="font-bold text-3xl" id="timer"></div>
        <div class="font-bold text-xl text-center mt-4">Next Mode</div>
        <button class="bg-no-repeat hover:scale-button cursor-pointer bg-center aspect-[173/50] w-[173px]" onclick="location.href='/voiceline'" style="background-image: url(&quot;/static/images/buttons/voiceline_button_short.png&quot;); background-size: 173px 50px;"></button>
        <div class="font-bold text-xl text-center mt-4">Other Modes</div>
        <div class="flex gap-4 justify-center mt-2">
            <button class="gamemode-button bg-no-repeat w-[50px] h-[50px] cursor-pointer hover:scale-button" onclick="location.href='/voiceline'" style="background-image: url(&quot;/static/images/buttons/voiceline_1.png&quot;); background-size: 50px 50px;">
                <span class="gamemode-label">Voiceline Mode</span>
            </button>
            <button class="gamemode-button bg-no-repeat w-[50px] h-[50px] cursor-pointer hover:scale-button" onclick="location.href='/ability'" style="background-image: url(&quot;/static/images/buttons/ability_1.png&quot;); background-size: 50px 50px;">
                <span class="gamemode-label">Ability Mode</span>
            </button>
            <button class="gamemode-button bg-no-repeat  w-[50px] h-[50px] cursor-pointer hover:scale-button" onclick="location.href='/spy'" style="background-image: url(&quot;/static/images/buttons/spy_1.png&quot;); background-size: 50px 50px;">
                <span class="gamemode-label">Spy Mode</span>
            </button>
        </div>
    </div>
</div>

{% endblock %}
