{% extends "base.html" %}
{% block gamemode %}
<div class="w-40px flex flex-col">
    <div class="pt-[50px]">
        <a href="/classic">
            <img src="{{url_for('static', filename='/images/classic_button.png')}}" class="aspect-[580/116] hover:scale-button">
        </a>
        <img src="{{url_for('static', filename='/images/voiceline_button.png')}}" class="aspect-[580/116] hover:scale-button">
        <img src="{{url_for('static', filename='/images/ability_button.png')}}" class="aspect-[580/116] hover:scale-button">
        <img src="{{url_for('static', filename='/images/spy_button.png')}}" class="aspect-[580/116] hover:scale-button">
    </div>
</div>
{% endblock %}
