{% extends "base.html" %}
{% block gamemode %}
<div class="flex-col ">
    <div class="pt-[30px] flex flex-col gap-y-[12px]">
        <a class="flex justify-center" href="/classic">
            <img src="{{url_for('static', filename='/images/buttons/classic_button.png')}}" class="drop-shadow-2xl aspect-[610/116] lg:h-[95px] hover:scale-button">
        </a>
        <a class="flex justify-center" href="/voiceline">
            <img src="{{url_for('static', filename='/images/buttons/voiceline_button.png')}}" class="aspect-[610/116] lg:h-[95px] hover:scale-[1.04]">
        </a>
        <a class="flex justify-center" href="/ability">
            <img src="{{url_for('static', filename='/images/buttons/ability_button.png')}}" class="aspect-[610/116] lg:h-[95px] hover:scale-button">
        </a>
        <a class="flex justify-center" href="/spy">
            <img src="{{url_for('static', filename='/images/buttons/spy_button.png')}}" class="aspect-[610/116] lg:h-[95px] hover:scale-button">
        </a>
    </div>
</div>
{% endblock %}
