{% extends "base.html" %}
{% block gamemode %}
<script src="{{ url_for('static',filename='/scripts/classic-mode.js') }}"></script>
<div class="flex flex-col justify-center items-center gap-y-[10px]">
    <div class="flex justify-center items-center mt-[20px] h-[100px] w-[200px] bg-dialogue-grey">
        <span class="text-white">
            Enter today's character
        </span>
    </div>
    <span id="show_character_data"></span>
    <div>
        <input class="p-[10px]"type="text" id="guess" placeholder="Enter character">
        <button class="p-[10px] text-white bg-gray-600" onclick="submitGuess()">Submit</button>
    </div>
    <div id="hints_container" class="flex text-white font-bold flex-row gap-x-[25px]">
        <div class="flex w-[75px] h-[75px] items-center justify-center border-b-4" id="guess_name">
            Character
        </div>
        <div class="flex w-[75px] h-[75px] items-center justify-center border-b-4" id="guess_gender">
            Gender
        </div>
        <div class="flex w-[75px] h-[75px] items-center justify-center border-b-4" id="guess_vision">
            Vision
        </div>
        <div class="flex w-[75px] h-[75px] items-center justify-center border-b-4" id="guess_weapon">
            Weapon
        </div>
        <div class="flex w-[75px] h-[75px] items-center justify-center border-b-4" id="guess_nation">
            Region
        </div>
        <div class="flex w-[75px] h-[75px] items-center justify-center border-b-4" id="guess_release">
            Release
        </div>
    </div>
    <div id="results">
        
    </div>

</div>
{% endblock %}