{% block gamemode %}
<script src="{{ url_for('static',filename='classic-mode.js') }}"></script>
<h1>CLASSIC MODE</h1>
<span id="show_character_data"></span>
<h1>Guess character</h1>
<input type="text" id="guess" placeholder="Enter character">
<button onclick="submitGuess()">Submit</button>
<span id="result">result</span>
<p id="guess_name">
    character: ?
</p>
<p id="guess_gender">
    gender: ?
</p>
<p id="guess_vision">
    vision: ?
</p>
<p id="guess_weapon">
    weapon: ?
</p>
<p id="guess_nation">
    region: ?
</p>
<p id="guess_release">
    release: ?
</p>
</div>
{% endblock %}