.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}

.autocomplete-items::-webkit-scrollbar {
  width: 10px;
}

.autocomplete-items::-webkit-scrollbar-thumb {
  background-color: rgb(175, 175, 175);
}


@keyframes fadeToGreen {
  0% {
      background-color: #27343fcc; /* Starting color */
  }
  100% {
      background-color: green; /* End color */
  }
}

.fade-to-green { animation: fadeToGreen 0.5s forwards; }

@keyframes fadeToRed {
  0% {
      background-color: #27343fcc; /* Starting color */
  }
  100% {
      background-color: rgb(255, 0, 0); /* End color */
  }
}

.fade-to-red { animation: fadeToRed 0.5s forwards; }

.gamemode-label {
  visibility: hidden;
  width: 130px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 110%;
  left: 40%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.gamemode-label::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.gamemode-button:hover .gamemode-label {
  visibility: visible;
  opacity: 1;
}

.streak:hover .gamemode-label {
  visibility: visible;
  opacity: 1;
}

.bg-green {
  background-color: #28a745;  
  border-color: #28a745;     
}

.bg-red {
  background-color: #dc3545;  
  border-color: #dc3545;      
}
